/* your code here */
body{
	background-color:#10e37f;	
	display:flex;
	justify-content:center;
	align-items:center;
}

.product{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	padding-top:30px;
	padding-bottom:30px;
}
.product__photo{
	position:relative;
	left:-30px;
	background-color:white;
	border-radius:5px;
	box-shadow:2px 2px 10px black;
}
.photo-main{
	background-color:#bfed54;	
	border-radius:5px;
}
.photo-main img{
	position:relative;
	left:-50px;
}
.controls{
	position:relative;
	color:white;
}
.fa-share-alt{
	position:absolute;
	top:10px;
	left:10px;
}
.fa-heart-o{
	position:absolute;
	top:10px;
	right:10px;
}
.photo-album ul{
	display:flex;
	list-style:none;
	
}
.photo-album ul li{
	border:1px solid black;
	margin-left:2px;
}

.variant ul{
	list-style:none;
	display:flex;
	
}